@media only screen and (min-width: 1024px)
{

    /* HTML Tag styles */
    body
    {
        background-color: lightgray;
    }

    li
    {
        text-decoration: none;
        list-style-type: none;
    }


    /* Class Styles */
    .container
    {
        margin: auto;
        margin-top: 5vh;
        margin-bottom: 5vh;
        padding-bottom: 5vh;

        height: auto;
        width: 80vw;
        background-color: white;
        border-radius: 5vh;
    }

    .header
    {
        margin: auto;
        padding-top: 5vh;
        background-color: white;
        text-align: center;
        width: 80vw;
        font-size: 5vh;
        line-height: 5vh;
        height: 10vh;
        font-weight: bold;
        border-top-right-radius: 5vh;
        border-top-left-radius: 5vh;
    }

    .headerDesc
    {
        padding-top: 5vh;
        padding-left: 10vw;
        padding-right: 10vw;
        margin: auto;
        text-align: left;
        width: 60vw;
        font-size: 3vh;
        line-height: 3vh;
    }

    .buttonHolders
    {
        padding-top: 5vh;
    }

    .siteButton
    {
        font-size: 3vh;
        width: 75vw;
        border-bottom: 5px solid white;
    }

    .siteButton > li
    {
        background-color: darkblue;
        color: white; 
        padding: 1vw;
        transition: 0.3s;
    }

    .siteButton > li:hover
    {
        background-color: rgb(1, 1, 37);
    }

    .siteButton > li:active
    {
        background-color: rgb(76, 76, 223);
        transition: 0.1s;
    }

    .siteButton > li:focus + .siteDesc
    {
        height: auto;
        opacity: 1;
        padding: 1vw;
    }

    .siteButton > .siteDesc:focus
    {
        height: auto;
        opacity: 1;
        padding: 1vw;
        outline: none;
    }

    .siteButton > .siteDesc
    {
        display: block;
        background-color: lightblue;
        width: auto;
        height: 0;
        opacity: 0;
        overflow: hidden;

        transition: .5s ease-in-out;
    }

    .goToSiteBtn
    {
        margin-top: 1.5vh;
        padding: 1vh;
        padding-left: 1vw;
        padding-right: 1vw;
        float: right;
        background-color: rgb(10, 5, 83);
        color: white;
        border-radius: 1vh;
        text-align: center;
        transition: .3s;
        user-select: none;
    }

    .goToSiteBtn:hover
    {
        background-color: rgb(25, 11, 218);
    }

    .goToSiteBtn:active
    {
        background-color: rgb(10, 5, 83);
        transition: .05s;
    }

}