@charset "utf-8";
/* CSS styles applied to all views */

html
{
	background-color: darkgray;
	font-size: 2vw;
	margin: 1vw;
	margin-top: .5vw;
}

#headerContainer
{
	padding-top: 0.05vw;
	width: auto;
	height: auto;
}

#container
{
	width: auto;
}

/* End of page */