@charset "utf-8";
/* CSS styles applied to all views */
@-ms-viewport{
  width: device-width;
}

html
{
	font-size: 2vw;
	margin: 1vw;
	margin-top: .5vw;
}

#headerContainer
{
	padding-top: 0.05vw;
	width: auto;
	height: auto;
}

/* End of page */