@charset "utf-8";
/* CSS styles applied only to desktop viewers with a width of 600 pixels or higher */

@media only screen and (max-width: 600px)
{
	/* Header data */
	
	hrml
	{
		background-color: purple;
	}
	
		#header
		{
			height: 5vw;
			width: 98%;
			margin: 1vw;
			text-align: center;
			padding-top: 3vw;
			margin-bottom: -1.5vw;
		}

		.headerIMG
		{
			margin-top: -2.75vw;
			width: 100%;
			height: auto;
			background-image: url(../images/header-IMG.jpg);
			background-size: auto 90%;
		}

		#header-logo
		{
			margin-top: -2.99vw;
			margin-right: -.1vw;
			width: auto;
			height: 160%;
			float: right;
		}
	
		/* Navbar data */
	
			.desktopNavBarLI
			{
				display: none;
			}
	
		/*End of Navbar data */
	
	
		/*placholder*/

		/*endplaceholder*/
	
	
	/* End of header data */
}

/* End of page */